@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="padding-top:280px;">
    <div class="col-lg-6">

        <button type="button" style="
        font-family: 'Bungee Inline';
        color: whitesmoke;
        font-size: 40px;
        background: rgb(195,34,56);
        background: linear-gradient(0deg, rgba(195,34,56,1) 0%, rgba(219,150,2,1) 100%);
        font-weight: bold;">
            <a style="color:white" href="/SellTickets/Create">Sell Ticket</a>
        </button>
        
    </div>
    <div class="col-lg-6" style="text-align:end">
        <button type="button" style="
        font-family: 'Bungee Inline';
        color: whitesmoke;
        font-size: 40px;
        background: rgb(195,34,56);
        background: linear-gradient(0deg, rgba(195,34,56,1) 0%, rgba(219,150,2,1) 100%);
        font-weight: bold;
">
            <a style="color:white" href="/SellProducts/Create">Sell Snack</a>
        </button>

    </div>
    </div>
 